@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
    min-height: 100vh;
}

.page {
    min-height: inherit;
}

.bg-dark {
    background-color: #262626 !important;
}

nav.bg-dark {
    background-color: #1A1A1A !important;
}

.content {
    padding-top: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.bg-dark .card {
    background-color: #1F1F1F;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.btn.btn-tab {
    border-bottom-style: none; 
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}