@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@* https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/additional-scenarios?view=aspnetcore-5.0 *@

<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        <div class="d-flex justify-content-center flex-column" style="width: 100%;">
            <div class="spinner-border text-primary mx-auto my-2" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="mx-auto my-2">
                Hang on just a sec. We're sending you to go login!
            </div>
        </div>
    </LoggingIn>
    <Registering>
        <div class="d-flex justify-content-center flex-column" style="width: 100%;">
            <div class="spinner-border text-primary mx-auto my-2" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="mx-auto my-2">
                Hang on just a sec. We're sending you to go sign up!
            </div>
        </div>
    </Registering>
</RemoteAuthenticatorView>

@code{
    [Parameter] public string Action { get; set; }
}
